FRONT_WINDOWS/ISI_TaxiDriverApp/ISI_TaxiCorpDriverApp/XMLReturn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DistanceMatrixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="status" type="xs:string" />
        <xs:element name="origin_address" type="xs:string" />
        <xs:element name="destination_address" type="xs:string" />
        <xs:element name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="status" type="xs:string" />
                    <xs:element name="duration">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="xs:unsignedShort" />
                          <xs:element name="text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="distance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>